# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
venv/

# Environment variables
.env
.env.*

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Firebase
.firebase/

# Google Cloud
.gcloud/

# Logs
*.log